/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li,
ol li {
    text-decoration: none;
    list-style: none;
}

ul a,
ol a {
    text-decoration: none;
    color: black;
}

main {
    width: 100%;
    height: 90vh;
}

/*HEADER*/
header {
    background-color: rgb(235, 97, 97);
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
}

header > h1 {
    width: 90%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

/*CONTAINER*/
.container {
    background-color: black;
    margin-top: 0;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:unset;
}

/*ICONS*/
.img-container {
    width: 95%;
    height: fit-content;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img-container >  figure {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icon {
    border: solid transparent 5px;
    border-radius: 50%;
    width: 50%;
    height: auto;
}

.img-container >  figure > figcaption {
    width: 90%;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 600;
    color: whitesmoke;
}

.scoreboard {
    margin-top: -1rem;
    width: 100%;
    height: min-content;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    margin-bottom:0;
}

.scoreboard>p {
    border: solid white 2px;
    border-radius: 1rem;
    width: 90%;
    padding: 0.5rem;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

/*FOOTER*/
footer {
    background-color: rgb(235, 97, 97);
    width: 100%;
    height: 5vh;
    margin-top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>p {
    width: 100%;
    margin: 0;
    text-align: center;
    color: whitesmoke;
}

footer>p>a:visited {
    color: whitesmoke;
    text-decoration: none;
}

/*1024px*/
@media(min-width: 1024px) {
    header {
        height: 5vh;
    }

    header>h1 {
        font-size: 2rem;
    }

    .container {
        height:90vh;
        justify-content: center;
        flex-wrap: wrap;
    }

    .img-container {
        margin-top: 2rem;
        flex-direction: row;
        align-items: flex-start;
        width: 90%;
        height: fit-content;
        padding: 1rem;
    }

    .img-container>figure {
        width: 40%;
        height: auto;
        padding: 2rem;
        gap: 0.9rem;
    }

    .icon {
        width: 50%;
    }

    .icon:hover {
        border: solid rgb(255, 255, 255) 3px;
        transform: scale(1.1);
        cursor: pointer;
    }

    .img-container >  figure > figcaption {
        font-size: 1.5rem;
    }

    .scoreboard {
        margin-top: -8rem;
        margin-bottom: 1rem;
        width: 100%;
        height: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0;
    }

    .scoreboard>p {
        border-radius: 1rem;
        width: 80%;
        padding: 1rem;
        color: white;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }

    footer {
        margin-top: 0rem;
        height: 5vh;
    }
}